<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://cdn.sinacloud.net/ppshouji/20151202_19033_149379542240ppzhushou%20%281%29.ipa?KID=sina,t76wjh00tydc6ta8P4vA&amp;Expires=1472029407&amp;ssig=f0Tuqrd0xe</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.netease.mail.one</string>
				<key>bundle-version</key>
				<string>573</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>一元夺宝</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
