<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://cdn.sinacloud.net/huangziyang/%E4%BB%8A%E6%99%9A%E7%9C%8B%E5%95%A5-%E6%89%8B%E6%9C%BA%E7%BD%91%E7%BB%9C%E7%94%B5%E8%A7%86%E5%9C%A8%E7%BA%BF%E8%A7%86%E9%A2%91%E6%92%AD%E6%94%BE%E5%99%A8%28%E6%AD%A3%E7%89%88%29.ipa?KID=sina,t76wjh00tydc6ta8P4vA&amp;Expires=1472027444&amp;ssig=VCuk0qFxjb</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.netease.mail.one</string>
				<key>bundle-version</key>
				<string>573</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>一元夺宝</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
